main, h1{ padding: 1em;}

html{
  background-color: lightgray;
}

img{
  height: 10rem;
  width: auto;
  border-radius: 10%;
  box-shadow: 10px 5px 5px black;
}

p, h1{
  color: orangered;
}

main p{
  background-color: gainsboro;
}

main li{
  border: thin solid black;
  padding: 1em;
  background-color: gainsboro;
  box-shadow: 10px 5px 5px black;
}

li{
  list-style-type: none;
}

footer{
  border: thin solid black;
}
